<div class="uk_map"></div>

    <div id="map" class="col-sm-12"></div>


<script src="assets/raphael-min.js"></script>


<script type="text/javascript">
    $(function(){
        function get_html_for_ev(area) {
            return "<div id='map_tooltip'><h5>" + area.name + "</h5><hr/><p>для проживання: <b>" + area.qtt + "</b></p></div>"
        }

        $.getJSON("<%= api_get_koatuu_geo_path %>", function( data ) {
            var div = d3.select(".uk_map").append("div")
                    .attr("class", "map_tooltip")
                    .style("opacity", 0);


            size = $('#map').width()
            $('#map').css('margin-left', -50)

            var r = Raphael('map', 700, 350),
                    attributes = {
                        fill: '#00AEEC',
                        stroke: '#cd1543',
                        'stroke-width': 1,
                        'stroke-linejoin': 'round',
                        transform:"translate(623.5801,201.2119)",
                        transform:"matrix(1.25,0,0,-1.25,0,950)"
                    },
                    arr = r.set();
            for (var region in uk_map_paths) {
                var obj = r.path(uk_map_paths[region].path);

                obj.attr(attributes);

                var area_data = $.grep(data, function(e){ return e.code == uk_map_paths[region].code; })[0];

                if (area_data === undefined || ['sector_31', 'sector_33', 'sector_37', 'sector_39', 'sector_48'].indexOf( region ) > -1) {
                    obj.attr('fill', '#fff')
                } else {
                    obj.data('area', area_data )
                    obj.data('fill', obj.attr('fill'))

                    obj
                        .attr('cursor', 'pointer')
                        .hover(function(event){
                                div.html( get_html_for_ev(this.data('area')) )
                                        .style("left", event.offsetX-100 + "px")
                                        .style("top", event.offsetY + 100 + "px");

                                div.transition()
                                    .duration(200)
                                    .style("opacity", .9)
                                    .style("color", '#fff')
                            this.animate({
                                fill: '#FFE661'
                            }, 300);
                        }, function(){
                                div.transition()
                                        .duration(200)
                                        .style("opacity", 0);

                                if ($("#home_search_area").select2("val") == this.data('area').area) {
                                    var _this = this
                                    $('form.search').submit(function() {
                                        if ($("#home_search_area").select2("val") != _this.data('area').area) {
                                            _this.animate({
                                                fill: _this.data('fill')
                                            }, 300);
                                        }
                                    })

                                    return
                                }

                                this.animate({
                                    fill: this.data('fill')
                                }, 300);
                        })
                        .click(function(){
                                area = this.data('area')

                                $("#home_search_area").select2("val", '' + area.area)
                                $("#home_search_region").select2("val", '')

                                $('form.search').submit()
                        });

                }

                arr.push(obj);
            }

            arr.transform("s0.5,0.4 0,0");
        })

    });
</script>

