<div class="menu row">
  <ul class="home-view nav nav-tabs col-lg-12">
    <li class="active col-lg-6"><a href="<%= welcome_map_os_url %>"><i class="fa fa-home"></i> <%= t('welcome.menu.search') %></a></li>
    <li class="col-lg-6"><a href="<%= welcome_map_ua_url %>"><i class="fa fa-map-marker"></i> <%= t('welcome.menu.search_map') %></a></li>
  </ul>
</div>

</div>

<div class="map">
  <div id="map"></div>
</div>
