<div class="panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><i class="fa fa-info-circle"></i> ДОВІДКОВА ІНФОРМАЦІЯ | про регіональні штаби з розміщення
  громадян в інших регіонах України
</div>
</div>

<table class="table table-striped col-sm-12" style="font-size: 13px; background: #fff;">
<tr>
  <th> ДА </th>
  <th>Телефон </th>
  <th>Адреса сайту, де зазначено телефони «гарячої лінії» </th>
  <th> Керівник штабу </th>
  <th> Контактні дані </th>
</tr>
<tr>
  <td> Вінницька обл. </td>
  <td> (0432) 57-22-34 </td>
  <td> <A HREF="http://www.vin.gov.ua/"> www.vin.gov.ua </A> </td>
  <td> ОЛІЙНИК Анатолій Дмитрович, голова обласної державної адміністрації </td>
  <td> (0432) 59-21-10<br /> (0432) 59-21-28 </td>
</tr>
<tr>
  <td> Волинська обл. </td>
  <td> (0332)255-485 (цілодобово) </td>
  <td> <A HREF="http://www.voladm.gov.ua/"> www.voladm.gov.ua </A> </td>
  <td> ПУСТОВІТ Григорій Олександрович, голова обласної державної адміністрації </td>
  <td> (0332) 778101 <br /> post@voladm.gov.ua </td>
</tr>
<tr>
  <td> Дніпропетровська обл. </td>
  <td> (0800)50-56-00 «Контакт-центр «Гаряча лінія голови облдержадміністрації» Графік роботи: 9.00 - 18.00 (пон.-чет.) 9.00 - 17.00 (п’ятн.) </td>
  <td> <A HREF="http://www.adm.dp.ua/"> www.adm.dp.ua</A> </td>
  <td> КРУПСЬКИЙ Анатолій Федорович, перший заступник голови обласної державної адміністрації </td>
  <td> (056)744-64-39 (056)742-70-11 9.00 - 18.00 (пон.-п’ятн.) przam1oda@adm.dp.ua </td>
</tr>
<tr>
  <td> Донецька обл. </td>
  <td> (0800)507-506<br /> (062)348-03-05 9:00 - 18:00 (пон.-п’ятн.) </td>
  <td> <a href="http://hotline.dn.gov.ua/" > hotline.dn.gov.ua </a> </td>
  <td> ТАРУТА Сергій Олексійович, голова обласної державної адміністрації </td>
  <td> (062) 304-35-88<br /> (062) 311-99-78 </td>
</tr>
<tr>
  <td> Житомирська обл. </td>
  <td> (0412)47-44-69 8.00 - 20.00 (щоденно) </td>
  <td> <A HREF="http://zhitomir-region.gov.ua/"> zhitomir-region.gov.ua </A> </td>
  <td> ДОЛГИХ Ярослав Дмитрович, заступник голови обласної державної адміністрації </td>
  <td> (0412) 47-50-63<br /> (0412)47-50-06 </td>
</tr>
<tr>
  <td> Закарпатська обл. </td>
  <td> (0312)61-22-20 9-00 - 18-00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://www.carpathia.gov.ua/ua/news/detail/3859.htm"> www.carpathia.gov.ua/ua<br />/news/detail/3859.htm</A> </td>
  <td> ЛУНЧЕНКО Валерій Валерійович, голова обласної державної адміністрації </td>
  <td> (0312)69-61-00 та (0312)69-61-01 Працює цілодобово черговий з питань надзвичайних ситуацій </td>
</tr>
<tr>
  <td> Запорізька обл. </td>
  <td> (061) 224-41-52 (061)764-42-65 тел. для звернень у нічний час: (0612)34-34-83 (061) 239-03-94 </td>
  <td> <A HREF="http://www.zoda.gov.ua/"> www.zoda.gov.ua </A> </td>
  <td> БАРАНОВ Володимир Олексійович, голова обласної державної адміністрації </td>
  <td> (061) 233-11-91 В робочі дні </td>
</tr>
<tr>
  <td> Івано-Франківська обл. </td>
  <td> 099-311-25-15 067-341-11-60 гар.лінія координац. Ради (цілодобово) 095-307-00-33 гар.лінія деп. соц. політики ОДА (цілодобово) </td>
  <td> На сайті ОДА є посилання на урядову гарячу лінію <A HREF="http://www.if.gov.ua/"> www.if.gov.ua</A> </td>
  <td> АРОНЕЦЬ Леся, голова штабу Координаційної ради з питань надання допомоги населенню під час надзвичайних ситуацій </td>
  <td> 050-373-22-07<br /> office@mgcetalon.org.ua 8:00-18:00 </td>
</tr>
<tr>
  <td> Київська обл. </td>
  <td> 044 285-73-60 9.00 - 18.00 (пон.-п’ятн.) 067 408-09-54 8.00-21.00 (щоденно) </td>
  <td> <A HREF="http://www.kyiv-obl.gov.ua/"> www.kyiv-obl.gov.ua </A> </td>
  <td> ШАНДРА Володимир Миколайович, голова обласної державної адміністрації </td>
  <td> (044) 286-82-30 9.00-18.00 (пон.-п’ятн.) </td>
</tr>
<tr>
  <td> Кіровоградська обл. </td>
  <td> (0522)22-28-44 9:00 – 18.15 (пон.-четв.) 9:00 – 17:00 (п’ятн.) 0-800-500-238 9:00 – 18.00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://www.kr-admin.gov.ua/"> www.kr-admin.gov.ua </A> </td>
  <td> ПЕТІК Олександр Владиславович, голова обласної державної адміністрації </td>
  <td> (0522)-24-03-30<br /> (0522)-22-35-66<br /> (цілодобово) public@kr-admin.gov.ua </td>
</tr>
<tr>
  <td> Луганська обл. </td>
  <td> 050-169-12-94<br /> (цілодобово) (0642)58-67-34<br /> (0642)58-63-45<br /> (0642)52-52-87<br /> (0642)58-57-03<br /> 8.00 - 17.00 (пон.-п’ятн.) </td>
  <td> Відсутня інформація на сайті </td>
  <td> ВЕРІГІНА Ірина Костянтинівна, перший заступник голови обласної державної адміністрації </td>
  <td> (0642) 58-18-18<br /> (0642) 58-59-92<br /> 8.00 - 17.00 (пон.-п’ятн.) pr_verigina@loga.gov.ua </td>
</tr>
<tr>
  <td> Львівська обл. </td>
  <td> 0-800-501-727<br /> (032) 235-73-73 – Львівський обласний контактний центр 9:00 - 18:00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://www.oblrada.lviv.ua/"> www.oblrada.lviv.ua </A> </td>
  <td> СЕХ Ірина Ігорівна, голова обласної державної адміністрації, співголова обласного штабу КОЛОДІЙ Петро Несторович голова обласної ради, співголова обласного штабу </td>
  <td> (032) 299-92-05<br /> i_sekh@ukr.net (032) 299-98-00 info@oblrada.lviv. ua </td>
</tr>
<tr>
  <td> Миколаївська обл. </td>
  <td> (0512)24-02-96<br /> (цілодобово) (0512)55-08-91<br /> (0512)37-64-92<br /> (0512)37-26-32<br /> 8.00 – 17.00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://sotszahist.mk.ua/"> sotszahist.mk.ua </A> <A HREF="http://www.mykolayiv-oda.gov.ua/"> www.mykolayiv-oda.gov.ua </A> </td>
  <td> ЛУСТА Володимир Вікторович, перший заступник голови обласної державної адміністрації </td>
  <td> (0512) 37-01-42 </td>
</tr>
<tr>
  <td> Одеська обл. </td>
  <td> (048)7226735<br /> (цілодобово) (048)7851840<br /> (048)7847251 9.00 – 18.00 (пон.-четв.) 9.00 - 16.45 (п’ятн.) </td>
  <td> <A HREF="http://oda.odessa.gov.ua/"> oda.odessa.gov.ua </A> </td>
  <td> ПАЛИЦЯ Ігор Петрович, голова обласної державної адміністрації </td>
  <td> (048) 731-46-63 </td>
</tr>
<tr>
  <td> Полтавська обл. </td>
  <td> 0800500620 8.00 - 17.00 (пон.-п’ятн.) 0800502230<br /> 098-555-82-98,<br /> 093-042-73-02,<br /> 050-578-86-16 (цілодобово) </td>
  <td> <A HREF="http://www.adm-pl.gov.ua/"> www.adm-pl.gov.ua</A> </td>
  <td> КОРНІЄНКО Людмила Василівна, заступник голови Регіонального координаційного центру – Директор департаменту праці та соціального захисту населення облдержадміністрації </td>
  <td> oda@adm-pl.gov.ua<br /> (0532) 68-12-41<br /> (0532) 68-12-32 <br /> plsz@adm-pl.gov.ua </td>
</tr>
<tr>
  <td> Рівненська обл. </td>
  <td> 0-800-500-078 09:00 – 20:00 (пон.-п’ятн.) 10:00 – 16:00 (у вихідні дні), (автовідповідач та передзвонюють) 0362-63-36-01<br /> 9.00 -18.00 (пон.-четв.) 9.00 -17.00 (п’ятн.) </td>
  <td> <A HREF="http://www.rv.gov.ua/">www.rv.gov.ua</A> </td>
  <td> РИБАЧУК Сергій Леонідович, голова обласної державної адміністрації </td>
  <td> (0362) 26-47-88<br /> 69-51-65<br /> </td>
</tr>
<tr>
  <td> Сумська обл. </td>
  <td> 0542-66-33-77 8.00 – 18.00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://dszn.sm.gov.ua/"> dszn.sm.gov.ua </A> </td>
  <td> РУМЯНЦЕВ Олег Валентинович, заступник керівника штабу, т.в.о. начальника управління взаємодії з правоохоронними органами та оборонної роботи ОДА </td>
  <td> 0542-63-18-11<br /> 0542-63-17-02<br /> pravo-SODA@yandex.ru </td>
</tr>
<tr>
  <td> Тернопільська обл. </td>
  <td> 097-828-75-27 (цілодобово) </td>
  <td> <A HREF="http://www.oda.te.gov.ua/"> www.oda.te.gov.ua </A> </td>
  <td> СИРОТЮК Олег Мирославович, голова обласної державної адміністрації </td>
  <td> (0352) 52-07-88 (цілодобово) </td>
</tr>
<tr>
  <td> Харківська обл. </td>
  <td> (067) 579-42-63 (цілодобово) </td>
  <td> <A HREF="http://kharkivoda.gov.ua/"> kharkivoda.gov.ua </A> </td>
  <td> БАЛУТА Ігор Миронович, голова обласної державної адміністрації </td>
  <td> (057) 700-21-05<br /> obladm@kharkivoda.gov.ua </td>
</tr>
<tr>
  <td> Херсонська обл. </td>
  <td> (0552)46-73-11; 8.00 - 17.00 (пон.-п’ятн.) (0552)26-40-06<br /> (0552)35-39-02<br /> (0552) 42-01-95 (цілодобово)<br /> 066 02 99 663 оперативний черговий ОДА </td>
  <td> <A HREF="http://www.oda.kherson.ua/"> www.oda.kherson.ua</A> </td>
  <td> Шепелєв Ігор Олександрович перший заступник голови обласної державної адміністрації </td>
  <td> (0552) 49-51-89<br /> shvetc@oda.kherson.ua </td>
</tr>
<tr>
  <td> Хмельницька обл. </td>
  <td> 0-800-508-899 9:00 - 18:00 (пон.-четв.) 9:00-17:00 (п'ятн.) ( дзвінки в межах області безкоштовні, дзвінки з інших областей тарифікуються відповідно до тарифного плану абонента) </td>
  <td> <A HREF="http://adm.km.ua/">adm.km.ua</A> </td>
  <td> ПРУС Леонід Іванович, голова обласної державної адміністрації </td>
  <td> (0382) 76-50-24 Anna_karnayh@mail.ru </td>
</tr>
<tr>
  <td> Черкаська обл. </td>
  <td> (0472)36-11-13<br /> (0472)45-32-14<br /> (0472) 32-23-57<br /> 9:00-18:00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://www.ck-oda.gov.ua/">www.ck-oda.gov.ua</A>, </td>
  <td> СТАРІКОВА Наталія Володимирівна, перший заступник голови обласної державної адміністрації </td>
  <td> (0472) 37 41 21<br /> pzf@ukr.net<br /> 9:00 - 18.15 (пон.-четв.) 9:00 -17:00 (п’ятн.) </td>
</tr>
<tr>
  <td> Чернівецька обл. </td>
  <td> (0372) 51-30-10 9:00 - 18:00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://www.oda.cv.ua/">www.oda.cv.ua</A> </td>
  <td> ВАНЗУРЯК Роман Степанович, голова обласної державної адміністрації </td>
  <td> (0372) 55-15-89 </td>
</tr>
<tr>
  <td> Чернігівська обл. </td>
  <td> (0462)72-40-95 (04622)5-60-97 8.00 - 17.00 (пон.-п’ятн.) (0462) 5-38-69 17.00 - 18.00 (пон.-п’ятн.) 0 800-501-740 гаряча лінія голови ОДА 8.00 - 17.00 (пон.-п’ятн.) </td>
  <td> <A HREF="http://cg.gov.ua/"> cg.gov.ua </A> </td>
  <td> ІВАШКО Володимир Олександрович голова обласної державної адміністрації </td>
  <td> (0462) 67-50-24<br /> ф. 67-50-70 <br /> golova @ regadm . gov . ua </td>
</tr>
<tr>
  <td> м. Київ </td>
  <td> 15-51 (цілодобово)<br /> (044) 497-57-15<br /> (044) 404-33-20<br /> (044) 205-73-37<br /> (з мобільного) </td>
  <td> <A HREF="http://kievcity.gov.ua/"> kievcity.gov.ua </A><br /> <A HREF="www.soczahyst.kiev.ua"> www.soczahyst.kiev.ua </A> </td>
  <td> БОНДАРЕНКО Володимир Дмитрович, голова КМДА </td>
  <td> Міський координаційний центр (044)497-57-15<br /> (044)408-53-77<br /> (044)404-33-20<br /> 9-00 - 19-00 (щоденно) </td>
</tr>
</table>
