<h3>ІНФОРМАЦІЯ
</h3>
<h4>про регіональні штаби з розміщення громадян, які переселяються з тимчасово окупованої території АР Крим та районів ведення антитерористичної операції в інші регіони України</h1>
</h4>

