<h3>ІНФОРМАЦІЯ
<h3>
<h4>про регіональні штаби з розміщення громадян, які переселяються з тимчасово окупованої території АР Крим та районів ведення антитерористичної операції в інші регіони України</h1>
</h4>



ДА	«Гаряча лінія»
Регіональний штаб	Контактна особа Департаменту соціальної політики ОДА
Телефон
Адреса сайту, де зазначено телефони «гарячої лінії»
Керівник штабу	Контактні дані	ПІБ	телефон	e-mail
Вінницька обл.	 (0432) 57-22-34	http://www.vin.gov.ua/
ОЛІЙНИК
Анатолій Дмитрович, голова обласної державної адміністрації	(0432) 59-21-10    (0432) 59-21-28	Остапенко Наталія Сергіївна, заступник начальника Департаменту соціальної політики	(0432)57-22-34

qupszn@vn.ua
Волинська обл.	(0332)255-485
(цілодобово)	http://www.voladm.gov.ua/
ПУСТОВІТ
Григорій Олександрович,
голова обласної державної адміністрації	(0332) 778101
post@voladm.gov.ua
Мишковець Світлана Євтихіївна, директор Департаменту соціального захисту	(0332)77-81-27
8:00 - 17:15
(пон.-чет.)
8:00 - 16:00
(п’ятн.)	Post@dlsp.voladm.gov.ua
Дніпропетровська обл.	(0800)50-56-00
«Контакт-центр «Гаряча лінія голови облдержадміністрації»

Графік роботи:
9.00 - 18.00
(пон.-чет.)
9.00 - 17.00
(п’ятн.)
http://www.adm.dp.ua
КРУПСЬКИЙ
Анатолій Федорович,
перший заступник голови  обласної державної адміністрації	(056)744-64-39
(056)742-70-11

9.00 - 18.00
(пон.-п’ятн.)


przam1oda@adm.dp.ua
Сливна Валентина Олексіївна,
заступник  директора Департаменту соціального захисту

Чернигіна
Вікторія В’ячеславівна
заступник начальника управління соціального захисту населення–начальник відділу адресних соціальних виплат головного управління праці та соціального захисту населення облдержадміністрації

Крупська Вікторія Володимирівна
в. о. директора Департаменту соціального захисту

Зуб Сергій Володимирович
начальник відділу стаціонарних установ


(056)713-63-09



(056)713-62-21











(056)713-62-21





(056)370-14-28	qupczn@adm.dp.ua
Донецька обл.	(0800)507-506
(062)348-03-05

9:00 - 18:00
(пон.-п’ятн.)

http://hotline.dn.gov.ua/	ТАРУТА
Сергій Олексійович,
голова обласної державної адміністрації	(062) 304-35-88
(062) 311-99-78
Маліновська
Ольга Вікторівна,
заступник директора департаменту соціального захисту населення
(062)311-07-49	G01@qutszndn.qov.ua

Житомирська обл.

(0412)47-44-69

8.00 - 20.00 (щоденно)
http://zhitomir-region.gov.ua/
ДОЛГИХ Ярослав Дмитрович,
заступник голови обласної державної адміністрації	(0412) 47-50-63
(0412)47-50-06
Павлюк
Василь Петрович,
заступник директора	(0412)47-44-69


8.00 - 21.00 (щоденно)
gupszn-zhitomir@rambler.ru

Закарпатська обл.	 (0312)61-22-20

9-00 - 18-00
(пон.-п’ятн.)
http://www.carpathia.gov.ua/ua/news/detail/3859.htm
ЛУНЧЕНКО Валерій Валерійович,
голова обласної державної адміністрації

(0312)69-61-00 та
(0312)69-61-01
Працює цілодобово
черговий з питань надзвичайних ситуацій	Ладижець Олесь Володимирович,
провідний спеціаліст	(0312)61-22-20

9-00 - 18-00
(пон.-п’ятн.)

odaprom@ukr.net
Запорізька обл.	(061) 224-41-52
(061)764-42-65

тел. для  звернень у нічний час: (0612)34-34-83
(061) 239-03-94	http://www.zoda.gov.ua/
БАРАНОВ Володимир  Олексійович,
голова обласної державної адміністрації	(061) 233-11-91
В робочі дні	Ковпак
Андрій Васильович, начальник відділу соціальних послуг, стаціонарних установ	(061) 764-42-65
(061) 224-41-52
internats@ukr.net
Івано-Франківська обл.	099-311-25-15
067-341-11-60
гар.лінія координац. Ради
(цілодобово)

095-307-00-33
гар.лінія деп. соц. політики ОДА (цілодобово) 	На сайті ОДА є посилання на урядову гарячу лінію
http://www.if.gov.ua
АРОНЕЦЬ Леся,
голова штабу Координаційної ради  з питань надання допомоги населенню під час надзвичайних ситуацій	050-373-22-07 office@mgcetalon.org.ua

8:00-18:00
Рачук Тетяна Михайлівна,
заступник начальника відділу соцгарантій управління соцзахисту населення 	(0342) 50-30-83

8:00 - 17:15
(пон.-п’ятн.)

ifsz@ukr.net
Київська обл.	044 285-73-60
9.00 - 18.00
(пон.-п’ятн.)

067 408-09-54
8.00-21.00 (щоденно)

http://www.kyiv-obl.gov.ua/
ШАНДРА Володимир Миколайович,
голова обласної державної адміністрації	(044) 286-82-30
9.00-18.00
(пон.-п’ятн.)


Винник Олександр Миколайович,
заступник директора Департаменту соціального захисту населення 	206-74-86
9.00-18.00
(пон.-п’ятн.)


orgvitdil_GY@ukr.net
Кіровоградська обл.	(0522)22-28-44
9:00 – 18.15
(пон.-четв.)
9:00 – 17:00
(п’ятн.)


0-800-500-238
9:00 – 18.00
(пон.-п’ятн.)

http://www.kr-admin.gov.ua/
ПЕТІК
Олександр Владиславович,
голова обласної державної адміністрації	(0522)-24-03-30
(0522)-22-35-66
(цілодобово)

public@kr-admin.gov.ua
Догаров Олександр Васильович,
директор Департаменту соціального захисту населення	(0522)-22-28-37
9:00 – 18.15
(пон.-четв.)
9:00 – 17:00
(п’ятн.)
public@gitszn.kr-admin.gov.ua
Луганська обл.	050-169-12-94
(цілодобово)

(0642)58-67-34
(0642)58-63-45
(0642)52-52-87
(0642)58-57-03
8.00 - 17.00
(пон.-п’ятн.)

Відсутня інформація на сайті  	ВЕРІГІНА
Ірина Костянтинівна,
перший заступник
голови
обласної державної адміністрації	(0642) 58-18-18
(0642)  58-59-92

8.00 - 17.00
(пон.-п’ятн.)



pr_verigina@loga.gov.ua
Тихонська Наталья Володимирівна- заступник директора департаменту-начальник управління соціальних гарантій та компенсацій 	(0642)58-68-29

8.00 до 17.00
(пон.-п’ятн.)

lugutszn@mail.ru
Львівська обл.	0-800-501-727

(032) 235-73-73 – Львівський обласний контактний центр

9:00 - 18:00
(пон.-п’ятн.)
http://www.oblrada.lviv.ua/
СЕХ
Ірина Ігорівна,
голова обласної державної адміністрації, співголова обласного штабу

КОЛОДІЙ
Петро Несторович
голова обласної ради, співголова
обласного штабу	(032) 299-92-05
i_sekh@ukr.net





(032) 299-98-00
info@oblrada.lviv.ua
Мартиняк Василь Васильович,
Директор департаменту соціального захисту населення	(067)6732204
(цілодобово без вихідних)	msp1300@gmail.com
Миколаївська обл.	 (0512)24-02-96
(цілодобово)

(0512)55-08-91
(0512)37-64-92
(0512)37-26-32
8.00 – 17.00
(пон.-п’ятн.)

http://sotszahist.mk.ua/

http://www.mykolayiv-oda.gov.ua/
ЛУСТА
Володимир Вікторович,
перший заступник голови обласної державної адміністрації	(0512) 37-01-42	Сивопляс Ольга Вікторівна, директор Департаменту соціального захисту населення	 (0512)55-00-85	mk_iac@ukr.net

Одеська обл.	(048)7226735
(цілодобово)

(048)7851840
(048)7847251
9.00 – 18.00
(пон.-четв.)

9.00 - 16.45
(п’ятн.)
http://oda.odessa.gov.ua/
ПАЛИЦЯ  Ігор  Петрович,
голова обласної державної адміністрації	(048) 731-46-63	Маркевич Ірина Вікторівна,
директор Департаменту соціального захисту населення
(048) 785-18-40	gutszn@gupsp.odessa.gov.ua
Полтавська обл.	0800500620
8.00 - 17.00
(пон.-п’ятн.)

0800502230
098-555-82-98, 093-042-73-02, 050-578-86-16
(цілодобово)	http://www.adm-pl.gov.ua
КОРНІЄНКО Людмила Василівна,
заступник голови Регіонального координаційного центру –
Директор департаменту праці та соціального захисту населення облдержадміністрації	oda@adm-pl.gov.ua

(0532) 68-12-41
(0532) 68-12-32
plsz@adm-pl.gov.ua
Матуйзо Світлана Василівна,
заступник директора -
начальник відділу у справах сім’ї та молоді ОДА	 (0532) 63-28-64	plsz@adm-pl.gov.ua

vssm_oda@ukr.net
Рівненська обл.	0-800-500-078
09:00 – 20:00
(пон.-п’ятн.)
10:00 – 16:00
(у вихідні дні), (автовідповідач та передзвонюють)

0362-63-36-01
9.00 -18.00
(пон.-четв.)

9.00 -17.00
(п’ятн.)	www.rv.gov.ua
РИБАЧУК
Сергій Леонідович,
голова обласної державної адміністрації	(0362) 26-47-88
69-51-65
Підкидач
Ольга Володимирівна
Директор департаменту соціального захисту населення	(0362)  63-36-10	monitoring_rivne@mail.ru
Сумська обл.	0542-66-33-77

8.00 – 18.00
(пон.-п’ятн.)	http://dszn.sm.gov.ua/
РУМЯНЦЕВ Олег Валентинович,
заступник керівника штабу,
т.в.о. начальника управління взаємодії з правоохоронними органами та оборонної роботи ОДА 	0542-63-18-11




0542-63-17-02
pravo-SODA@yandex.ru
Пономаренко Геннадій Миколайович
т.в.о. заступника директора Департаменту соціального захисту населення 	0542-60-02-10
0542-60-02-08
9.00 – 18.00
(пон.-четв.)
9:00 – 17:00
(п’ятн.)
ponomarenko@dszn.sm.gov.ua
Тернопільська обл.
097-828-75-27
(цілодобово)	http://www.oda.te.gov.ua/
СИРОТЮК
Олег Мирославович,
голова обласної державної адміністрації	(0352) 52-07-88
(цілодобово)	Боярський Вадим Андрійович - перший заступник директора  Департаменту соціального захисту населення	(0352)52-33-61	admin@sobes-ter.gov.ua
Харківська обл.	(067) 579-42-63  (цілодобово)	http://kharkivoda.gov.ua/
БАЛУТА
Ігор Миронович,
голова обласної державної адміністрації	(057) 700-21-05
obladm@kharkivoda.gov.ua

Захуцька Олена Володимирівна   - директор Департаменту праці та соціального захисту населення 	(057)  705-26-68
(057) 705-26-67
9:00-18:00
(пон.-п’ятн.)	upr_truda@kharkivoda.gov.ua
Херсонська обл.	 (0552)46-73-11;
8.00 - 17.00
(пон.-п’ятн.)

(0552)26-40-06  (0552)35-39-02

(0552) 42-01-95 (цілодобово)

066  02 99 663
оперативний черговий ОДА	http://www.oda.kherson.ua
Шепелєв Ігор Олександрович перший заступник голови обласної державної адміністрації	 (0552) 49-51-89

shvetc@oda.kherson.ua
Причина
Геннадій Георгійович,
директор Департаменту соціального захисту населення 	(0552)22-54-37


gutszn@ukrpost.ua

gutszn@ukrpost.ua
Хмельницька обл.	 0-800-508-899
9:00 - 18:00
(пон.-четв.)
9:00-17:00
(п'ятн.)
(дзвінки в межах області безкоштовні, дзвінки з інших областей тарифікуються відповідно до тарифного плану абонента)	http://adm.km.ua

ПРУС
Леонід Іванович,
голова обласної державної адміністрації	(0382) 76-50-24
Anna_karnayh@mail.ru
Лукомська Світлана Іванівна,
директор Департаменту соціального захисту населення
0382-72-06-14
9:00-18:00,
(пон.-четв.)
9:00 – 17:00
(п’ятн.)

0382-76-51-19
0382-76-47-00
0382-76-52-71 (цілодобово)	hmouszn@hm.ukrtel.net
Черкаська
обл.	(0472)36-11-13
(0472)45-32-14
(0472) 32-23-57 9:00-18:00
(пон.-п’ятн.)

www.ck-oda.gov.ua,
СТАРІКОВА Наталія Володимирівна,
перший заступник голови обласної державної адміністрації	(0472) 37 41 21
pzf@ukr.net

9:00 - 18.15
(пон.-четв.)
9:00 -17:00
(п’ятн.)

РАДЧЕНКО
Семен Володимирович
Заступник директора Департаменту соціального захисту населення Черкаської облдержадміністрації
(т.в.о. директора Департаменту)	 (0472) 63 39 55
9:00 – 18:00
(пон.-четв.)

9:00 - 16:45
(п’ятн.)


ouszn@ck.ukrtel.net



cherk_kont.centr@ukr.net
Чернівецька обл.	(0372) 51-30-10
9:00 - 18:00
(пон.-п’ятн.)


www.oda.cv.ua
ВАНЗУРЯК Роман Степанович,
голова обласної державної адміністрації	(0372) 55-15-89
Верига Олена Володимирівна,
директор  Департаменту соціального захисту населення	(03722) 4-55-37
9:00 - 18:00
(пон.-п’ятн.)

(03722) 4-56-17
(цілодобово)
gupszn@ukr.net
Чернігівська обл.	 (0462)72-40-95
(04622)5-60-97
8.00 - 17.00
(пон.-п’ятн.)

(0462) 5-38-69
17.00 - 18.00
(пон.-п’ятн.)


0 800-501-740
гаряча лінія голови ОДА
8.00 - 17.00
(пон.-п’ятн.)
http://cg.gov.ua/
ІВАШКО Володимир Олександрович
голова обласної державної адміністрації	(0462) 67-50-24
ф. 67-50-70
golova@regadm.gov.ua
Двойнос Наталія Павлівна
начальник відділу
стаціонарних установ та соціального обслуговування населення Департаменту соціального захисту населення	(0462)72-40-95
(04622) 5-60-97	sobes@ukrpost.net
м. Київ	15-51
(цілодобово)

(044) 497-57-15
(044) 404-33-20

(044) 205-73-37
(з мобільного)
http://kievcity.gov.ua/ ;
http://www.soczahyst.kiev.ua/	БОНДАРЕНКО Володимир Дмитрович,
голова КМДА	Міський координаційний центр
(044)497-57-15
(044)408-53-77
(044)404-33-20
9-00 - 19-00
(щоденно)
Назаренко Світлана Петрівна
заступник директора Департаменту
соціальної політики	404-63-49
408-39-74 - приймальня
nli@soczahyst.kiev.ua



