<div class="panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><i class="fa fa-info-circle"></i> ДОВІДКОВА ІНФОРМАЦІЯ | Регіональні підрозділи служби Соціального захисту населення</div>
  <div class="panel-body">

    <table class="table table-striped management-" style="font-size: 13px; background: #fff;">
      <tr>
        <th> &nbsp; </th>
        <th> Найменування Департаменту </th>
        <th> Адреса </th>
        <th> Контактний&nbsp;телефон </th>
      </tr>
      <tr>
        <td> 1 </td>
        <td> Департамент соціального захисту населення Вінницької облдержадміністрації </td>
        <td> вул. Соборна, 89, м. Вінниця 21050 </td>
        <td> (0432) 61-16-36<br /> (0432) 56-26-19<br /> (0432) 56-25-70<br /> (0432) 56-26-29<br /> (0432) 35-54-94 </td>
      </tr>
      <tr>
        <td> 2 </td>
        <td> Департамент соціального захисту населення Волинської облдержадміністрації </td>
        <td> Київський майдан, 9, м. Луцьк 43027 </td>
        <td> (0332) 77-82-03<br /> (0332) 77-81-27 </td>
      </tr>
      <tr>
        <td> 3 </td>
        <td> Головне управління праці та соціального захисту населення Дніпропетровської облдержадміністрації </td>
        <td> вул. Набережна Перемоги, 26, м. Дніпропетровськ 49123 </td>
        <td> (056) 713-65-22<br /> (056) 713-63-09<br /> (056) 231-87-38<br /> (056) 268-90-52 </td>
      </tr>
      <tr>
        <td> 4 </td>
        <td> Головне управління праці та соціального захисту населення Донецької облдержадміністрації </td>
        <td> вул. Університетська, 91, м. Донецьк 83073 </td>
        <td> (062) 311-64-03<br /> (062) 311-85-71<br /> (062) 311-07-49<br /> (062) 311-01-88<br /> (062) 311-96-58 </td>
      </tr>
      <tr>
        <td> 5 </td>
        <td> Департамент соціального захисту населення Житомирської облдержадміністрації </td>
        <td> вул. Черняхівського, 105 м. Житомир 10005 </td>
        <td> (0412) 24-08-43<br /> (0412) 24-08-48<br /> (0412) 47-47-26 </td>
      </tr>
      <tr>
        <td> 6 </td>
        <td> Департамент соціального захисту населення Закарпатської облдержадміністрації </td>
        <td> вул. Тургенева, 8, м. Ужгород 88003 </td>
        <td> (0312) 23-30-79<br /> (0312) 23-55-83 </td>
      </tr>
      <tr>
        <td> 7 </td>
        <td> Департамент соціального захисту населення Запорізької облдержадміністрації </td>
        <td> вул. Дзержинського, 48, м. Запоріжжя 69063 </td>
        <td> (061) 764-27-82<br /> (061) 764-42-65<br /> (061) 63-35-55<br /> (061) 764-74-33<br /> (061) 263-69-00 </td>
      </tr>
      <tr>
        <td> 8 </td>
        <td> Департамент соціального захисту населення BR>Івано–Франківської облдержадміністрації </td>
        <td> вул. Л. Курбаса, 2, м. Івано - Франківськ 76000 </td>
        <td> (0342) 50-30-80<br /> (0342) 22-27-73<br /> (0342) 50-30-87 </td>
      </tr>
      <tr>
        <td> 9 </td>
        <td> Департамент соціального захисту населення Київської облдержадміністрації </td>
        <td> вул. Мельникова, 40, м. Київ 04119 </td>
        <td> (044) 206-74-87<br /> (044) 206-74-86<br /> (044) 206-74-76<br /> (044) 286-83-64<br /> (044) 206-74-74<br /> (044) 286-85-98 </td>
      </tr>
      <tr>
        <td> 10 </td>
        <td> Департамент соціального захисту населення Кіровоградської облдержадміністрації </td>
        <td> вул. Луначарського, 38, м. Кіровоград 25022 </td>
        <td> (0522) 22-85-33<br /> (0522) 24-29-16<br /> (0522) 24-05-46 </td>
      </tr>
      <tr>
        <td> 11 </td>
        <td> Головне управління праці та соціального захисту населення Луганської облдержадміністрації </td>
        <td> вул. Володарського, 59 м. Луганськ 91055 </td>
        <td> (0642) 93-10-01<br /> (0642)93-24-76 </td>
      </tr>
      <tr>
        <td> 12 </td>
        <td> Департамент соціального захисту населення Львівської облдержадміністрації </td>
        <td> вул. О. Невського, 10, м. Львів 79046 </td>
        <td> (0322) 72-29-53<br /> (0322) 72-48-63<br /> (0322) 72-92-82<br /> (0322) 72-47-34 </td>
      </tr>
      <tr>
        <td> 13 </td>
        <td> Головне управління праці та соціального захисту населення Миколаївської облдержадміністрації </td>
        <td> вул. Акіма,2, м. Миколаїв 54003 </td>
        <td> (0512) 55-03-07<br /> (0512) 55-16-03<br /> (0512) 55-05-79<br /> (0512) 55-00-77 </td>
      </tr>
      <tr>
        <td> 14 </td>
        <td> Департамент соціального захисту населення Одеської облдержадміністрації </td>
        <td> вул. Мечнікова,102 м. Одеса 65007 </td>
        <td> (048) 784-72-62<br /> (048) 784-72-69<br /> (048) 785-18-43 </td>
      </tr>
      <tr>
        <td> 15 </td>
        <td> Департамент соціального захисту населення Полтавської облдержадміністрації </td>
        <td> вул. Ціалковського,47, м. Полтава 36023 </td>
        <td> (0532) 68-12-62<br /> (0532) 63-28-60<br /> (0532) 63-28-64 </td>
      </tr>
      <tr>
        <td> 16 </td>
        <td> Головне управління праці та соціального захисту населення Рівненської облдержадміністрації </td>
        <td> вул. Словацького,1, м. Рівне 33028 </td>
        <td> (0362) 62-31-09<br /> (0362) 22-35-41<br /> (0362) 26-66-02 </td>
      </tr>
      <tr>
        <td> 17 </td>
        <td> Головне управління праці та соціального захисту населення Сумської облдержадміністрації </td>
        <td> вул. Соборна,36, м. Суми 40030 </td>
        <td> (0542) 60-07-42<br /> (0542) 60-12-82<br /> (0542) 60-08-87<br /> (0542) 60-12-54 </td>
      </tr>
      <tr>
        <td> 18 </td>
        <td> Головне управління праці та соціального захисту населення Тернопільської облдержадміністрації </td>
        <td> вул. Грушевського, 8, м. Тернопіль 46021 </td>
        <td> (0352) 52-33-61<br /> (0352) 52-27-52 </td>
      </tr>
      <tr>
        <td> 19 </td>
        <td> Департамент соціального захисту населення Харківської облдержадміністрації </td>
        <td> Майдан Незалежності, Держпром, під’їзди 3 та 9, 1-ий  поверх м. Харків  61022 </td>
        <td> (057) 705-26-93<br /> (057) 705-40-22<br /> (057) 705-26-92<br /> (057) 705-26-83 </td>
      </tr>
      <tr>
        <td> 20 </td>
        <td> Головне управління праці та соціального захисту населення Херсонської облдержадміністрації </td>
        <td> вул. К. Маркса, 13-а, м. Херсон 73000 </td>
        <td> (0552) 22-34-69<br /> (0552) 26-30-16 </td>
      </tr>
      <tr>
        <td> 21 </td>
        <td> Департамент соціального захисту населення Хмельницької облдержадміністрації </td>
        <td> майдан Незалежності, 1, м. Хмельницький 29000 </td>
        <td> (0382) 65-60-32<br /> (0382) 65-85-54<br /> (0382) 79-51-06<br /> (0382) 65-85-54 </td>
      </tr>
      <tr>
        <td> 22 </td>
        <td> Департамент соціального захисту населення Черкаської облдержадміністрації </td>
        <td> вул. Громова, 10, м. Черкаси 18033 </td>
        <td> (0472) 63-46-02<br /> (0472) 63-96-05<br /> (0472) 63-44-21<br /> (0472) 37-32-78 </td>
      </tr>
      <tr>
        <td> 23 </td>
        <td> Департамент соціального захисту населення Чернівецької облдержадміністрації </td>
        <td> вул. Головна, 245, м. Чернівці 58018 </td>
        <td> (0372) 24-55-37<br /> (0372) 51-54-37<br /> (0372) 24-67-19 </td>
      </tr>
      <tr>
        <td> 24 </td>
        <td> Департамент соціального захисту населен&shy;ня Чернігівської облдержадміністрації </td>
        <td> пр. Миру, 116-А, м. Чернігів 14028 </td>
        <td> (0462) 72-40-97<br /> (0462) 72-41-12<br /> (0462) 22-80-91<br /> (0462) 72-41-13 </td>
      </tr>
      <tr>
        <td> 25 </td>
        <td> Департамент соціальної політики Київської міської державної адміністрації </td>
        <td> вул. Комарова,  7, м. Київ 03165 </td>
        <td> (044) 408-39-74<br /> (044) 404-48-08<br /> (044) 404-37-12<br /> (044) 404-20-44<br /> (044) 497-57-99 </td>
      </tr>
    </table>

  </div>
</div>
