<%- model_class = Housing -%>

<div class="panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading col-lg-10">
    <i class="fa fa-edit"></i> ВВЕДЕННЯ ДАНИХ | <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_housing_path, :class => 'btn btn-primary pull-right' %>

  <div class="panel-body col-lg-12">

      <div id="table">
        <%= render partial: 'table' %>
      </div>

  </div>
</div>
