// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-heading {

  &> div {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &> .active {
    background: rgba(250, 250, 250, .9);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.search-heading {
  font-size: 16pt;
  font-weight: bold;
}

.search-container {
}

#results {
  margin-top: 15px;
}

.map {
  padding: 15px 0;

  #map {
    width: 100%;
    min-height: 600px;
  }

  .more-maps-info {
    display: block;
    color: maroon ;
    cursor: pointer;
    font-size: 12px;
  }
}

