// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-heading {

  text-transform: uppercase;
  font-size: 20pt;

  &> div {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16pt;
  }


  &> .active {
    background: rgba(250, 250, 250, .9);
//    font-weight: bold;
  }
}

.search-container {
  .tab-content {
    background-color: rgba(255,255,255, 0.7);
  }
}

#results {
  margin-top: 15px;
}

.map {
  padding: 15px 0;

  #map {
    width: 100%;
    min-height: 600px;
  }

  .more-maps-info {
    display: block;
    color: maroon ;
    cursor: pointer;
    font-size: 12px;
  }
}


#map {
  zindex: 100;
}
.map_tooltip {
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 220px;
  height: 130px;
  overflow: hidden;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;

  p {
    font-size: 16px;

  }
  background-color: darkcyan;

  .olFramedCloudPopupContent {
    width: 220px;
    height: 110px;
    overflow: hidden;

//    font-weight: bold;
    hr {
      margin: 5px 0;
    }
    a {
      font-size: 18pt;
      padding: 5px 10px;
    }
  }
}

#housing_add_advert {
  z-index: 9999;

  .modal-header {
    background-color: darkcyan;
  }

}
