// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-default {
  background: rgba(250, 250, 250, .0);
}

.map {
  padding: 15px 0;

  #map {
    width: 100%;
    min-height: 600px;
  }

  .more-maps-info {
    display: block;
    color: maroon ;
    cursor: pointer;
    font-size: 12px;
  }
}

