// Place all the styles related to the NewsItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anons {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #565553;

  span {
    font-weight: semibold;
    color: orange;
  }

  &:last-child {
    border-bottom: none;
  }
}
