
body {
  font-family: Raleway;

  background: asset_url("bg.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.header {
  background: rgba(55, 55, 55, 0.1);

  .logo {
    padding: 0px;

    .img {
      background: asset_url("logo.png") no-repeat;
      height: 92px;
      width: 429px;
    }
  }

  .hot_phone {
    background: asset_url("pl_tel.png") no-repeat;
    height: 62px;
    width: 262px;

    margin: 12px 20px 0 0;
  }
  .note {
    color: #ffffff;
    line-height: 21px;
  }

  ul.hmenu {
    background: rgba(255, 255, 255, 0.6);
    list-style: none;
    margin: 10px 30px 10px 10px;
    padding: 5px 10px;
  }

  ul.hmenu li {
    display: inline;

    a {
      padding: 0px;
    }
  }
}

.navbar-default {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;

  button {
    color: #ffffff;
    background-color: #017EBA;
  }
}

.main {
  background: rgba(255, 255, 255, .85);

  .content {
    height: 100%;

    .menu {
      background: rgba(255, 255, 255, .05);

      padding: 0px 0px 0 10px;

      .home-view {
        margin: 20px  0 0 -10px;

        li {
          padding: 0;
          margin: 0;
        }
        a {
          font-size: 16pt;
        }
      }
    }

    .alert {
      background: rgba(20, 155, 50, .6);
      margin-top: 10px;
    }

  }

  .sidebar {
    background: rgba(0, 0, 0, .03);
  }
}
.flexslider {
  margin-bottom: 0;
}

footer {
  background: rgba(25, 25, 25, 0.55);

  padding: 10px 0 0 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
}


.page-header {
  margin-top: 15px ;
}