
body {
  font-family: Trebuchet MS, Trebuchet, Arial, Verdana, sans-serif;

  background: asset_url("bg.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Trebuchet MS, Trebuchet, Arial, Verdana, sans-serif!important;
}

.header {
  margin-top: 25px;
  .logo {
    .img {
      background: asset_url("logo.png") no-repeat;
      height: 92px;
      width: 429px;
    }
  }

  .hot_phone {
    background: asset_url("pl_tel.png") no-repeat;
    height: 62px;
    width: 262px;

    margin: 20px 0 0px 0 0;
  }
  .note {
    color: #ffffff;
    line-height: 21px;
  }

  .ask {
//    margin-top: -5px;
  }

}


.menu {
  background: rgba(255, 255, 255, .2);
}
.main {
  background: rgba(255, 255, 255, .8);
  overflow: auto;
  padding: 20px;
}

.sidebar {
  .head {
    margin-bottom: 15px;
  }

  .anons {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #565553;

    span {
      font-weight: semibold;
      color: orange;
    }

    a {
      color: darkslateblue !important;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.flexslider {
  margin-bottom: 0;
}

footer {
  background: rgba(25, 25, 25, 0.55);

  padding: 10px 0 0 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
}


.page-header {
  margin: 0;
  padding: 0;
}


.fa-check, .fa-check-square-o {
  color: green;
}

label {
  font-weight: normal;
}

.btn-group div {
  padding: 10px 10px 0 10px;
}

.spinner {
  margin-top: 50px;
  background: asset_url("ajax_loader_blue_64.gif") no-repeat 50%;
  width: 100%;
  height: 60px;
  border: none;
}

.badge {
  background-color: rgb(120, 190, 236);
}

.alert-success {
  background-color: rgb(80, 190, 80);
}

.table {
  margin-bottom: 2px;

  tr {
    height: 40px;
  }

}


.flickr_pagination {
  .pagination {
    margin: 10px 0 0 0;
  }
}

// BUTTONS --------------------------------------

.btn-primary {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a7eb), color-stop(100%, #4267c0));
  background: -webkit-linear-gradient(top, #00a7eb, #4267c0);
  background: -moz-linear-gradient(top, #00a7eb, #4267c0);
  background: -o-linear-gradient(top, #00a7eb, #4267c0);
  background: linear-gradient(top, #00a7eb, #4267c0);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-color: rgba(43, 63, 123, 0.9) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
  background-color: #007db3;
  background-repeat: repeat-x;
  color: #fff;

  &:hover {
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    background-color: #4267c0;
    background-position: 0 -15px;
    color: #fff;
  }

  &:active {
    background-image: none;
    color: #fff;
  }

  .active:hover {
    background: #008fcc;
  }
}

.select2-container .select2-choice .select2-arrow {

}


.breadcrumb {
  margin-top: 15px;
  margin-bottom: 15px;
  background: none;

  font-size: 13pt;
  font-weight: bold;

  & > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #3A5354;
  }

  a {
    color: #3A5354;
  }
}