<div class="flexslider">
  <ul class="slides">
    <li><a href="http://www.president.gov.ua/"><img src="http://www.minregion.gov.ua/attachments/banners/e/d/b/4/5/edb45bbe86dc0eb398ba834efe515871_292_129_f.png"></a></li>
    <li><a href="http://rada.gov.ua/ru"><img src="http://www.minregion.gov.ua/attachments/banners/7/4/d/b/4/74db48888228b843e1e0e391ed39728c_292_129_f.png"></a></li>
    <li><a href="http://www.kmu.gov.ua/control/"><img src="http://www.minregion.gov.ua/attachments/banners/1/f/b/4/f/1fb4fc3783877900cc5dc565e3c426d3_292_129_f.png"></a></li>
    <li><a href="http://www.mil.gov.ua/mou.html"><img src="http://www.minregion.gov.ua/attachments/banners/e/e/a/d/7/eead76da480915921aaee6109d58ebf4_292_129_f.png"></a></li>
    <li><a href="http://dabi.uss.gov.ua/"><img src="http://www.minregion.gov.ua/attachments/banners/b/3/f/e/d/b3fedb84311c5540cde9cfc486290181_292_129_f.png"></a></li>
    <li><a href="http://www.molod-kredit.gov.ua/"><img src="http://www.minregion.gov.ua/attachments/banners/2/9/8/7/4/298742229fa79e30ed08673a71a1352c_292_129_f.jpg"></a></li>
    <li><a href="http://www.kmu.gov.ua/control/uk/publish/article?art_id=244209261&amp;cat_id=244209257"><img src="http://www.minregion.gov.ua/attachments/banners/a/d/c/b/c/adcbc51477877a20f64d54307193f336_292_129_f.png"></a></li>
  </ul>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 166,
            itemMargin: 5,
            minItems: 2,
            maxItems: 10
        });
    });
</script>

