<div class="modal fade col-xs-6" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="max-height: 90%; max-width: 60%; margin: 30px auto; background-color: #ffffff; color: #000000">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <img src="" style="width: 100%; text-align: center">
  </div>
</div>

<script>
  $('.modal_link').on('click', function(){
      $('.modal-body img').attr('src', '/assets/left/' + $(this).attr('name'));
  });

</script>