<%- model_class = NewsItem -%>

<h4 class="head"><%= t("layouts.sidebar.news")%></h4>

<div class="news">
<% @news_items.each do |news_item| %>
    <% issued = news_item.issued %>

    <div class="anons">
        <% if issued %>
          <span><%= l issued, format: '%d %B' %></span> -
        <% end %>
        <noindex>
            <a target="_blank" href="<%= Sanitize.clean(news_item.url, remove_contents: ['script']) %>">
              <%= Sanitize.clean(news_item.content.html_safe, remove_contents: ['script']) %>
            </a>
        </noindex>
    </div>

<% end %>


</div>