<h4 class="head">НОВИНИ</h4>

<div class="news">
<% @news.each do |news| %>
    <% date = news[:date] %>
    <% href = news[:href] %>
    <% text = news[:text] %>

    <div class="anons">
        <% if date %>
            <span><%= date %></span> -
        <% end %>
        <a target="_blank" href="<%= href%>">
            <%= text%>
        </a>
    </div>

<% end %>
</div>