<h3><a href="http://minregion.gov.ua/news/">НОВИНИ</a></h3>

<div class="anons col-lg-12">
  <span>20.06.2014</span>

  <p>
    <a href="http://minregion.gov.ua/news/krizoviy-energetichniy-shtab-rozroblyae-plan-stabilnogo-prohodzhennya-opalyuvalnogo-sezonu---volodimir-groysman-713766/">Кризовий
      енергетичний штаб розробляє план стабільного проходження опалювального сезону, – Володимир Гройсман</a>
  </p>
</div>
<div class="anons col-lg-12">
  <span>20.06.2014</span>

  <p>
    <a href="http://minregion.gov.ua/news/ogoloshennya-pro-utvorennya-komisiyi-z-provedennya-vidkritogo-vidboru-kandidativ-na-posadu-zastupnika-ministra-regionalnogo-rozv-143483/">Оголошення
      про утворення Комісії з проведення відкритого відбору кандидатів на посаду заступника Міністра
      регіонального розвитку, будівництва та житлово-комунального господарства України з питань європейської
      інтеграції</a></p>
</div>

<div class="anons col-lg-12">
  <span>20.06.2014</span>

  <p>
    <a href="http://minregion.gov.ua/news/derzharhbudinspekciya-zaklikae-naselennya-ne-koristuvatisya-poslugami-poserednickih-firm-768218/">Держархбудінспекція
      закликає населення не користуватися послугами посередницьких фірм</a></p>
</div>
<div class="anons col-lg-12">
  <span>19.06.2014</span>

  <p>
    <a href="http://minregion.gov.ua/news/maemo-buti-gotovimi-do-bud-yakogo-scenariyu-rozvyazannya-gazovogo-pitannya---volodimir-groysman-506281/">Маємо
      бути готовими до будь-якого сценарію розв’язання газового питання, - Володимир Гройсман</a></p>
</div>
