<%- model_class = NewsItem -%>

<h4 class="head"><%= t("layouts.sidebar.news")%></h4>

<div class="news">
<% @news_items.each do |news_item| %>
    <% issued = news_item.issued %>

    <div class="anons">
        <% if issued %>
          <span><%= l issued, format: '%d %B' %></span> -
        <% end %>
        <a target="_blank" href="<%= news_item.url %>">
          <%= news_item.content.html_safe %>
        </a>
    </div>

<% end %>


</div>