<div class="logo pull-left">
  <a href="<%= root_path %>"><div class="img"></div></a>
</div>
<div class="hot_phone pull-right">
  <a href="http://ukc.gov.ua/">
  </a>
</div>
<div class="clearfix"></div>
<p class="note col-lg-9"><%= t('layout.header.note') %></p>
