<div class="logo pull-left">
  <a href="<%= root_path %>"><div class="img"></div></a>
</div>
<a target="_blank" href="http://ukc.gov.ua/">
    <div class="hot_phone pull-right">
    </div>
</a>
<div class="clearfix"></div>
<p class="note col-lg-9"><%= t('layout.header.note') %></p>

<a class="ask pull-right btn btn-primary btn-xs" href="mailto:support@minregion.gov.ua?subject=Питання по http://migrants.gov.ua"><i class="fa fa-envelope-o"></i> <%= t('.question') %> </a>
